<% @posts.each do |posts| %>
  <div>
    <%= link_to post_path(posts.id) do %>
      <%= image_tag posts.get_image %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>説明：<%= posts.sentence %></p>
    <p>ユーザーネーム：<%= posts.user.name %></p>
    <p>Category：<%= posts.category %></p>
    <p><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %></p>

    <div id="show-star<%= posts.id %>"></div>
    <script>
    　$("#show-star<%= posts.id %>").empty();
    　var element = document.querySelector("#show-star<%= posts.id %>");
    　var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        size: 10,
        score: "<%= posts.star %>"
      };
      window.raty(element, opt);
    </script>
  </div>
<% end %>
  <div id="map"></div>
  <style>
    #map {
    height: 600px;
    width: 600px;
    }
  </style>

<script>
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 10
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
    <% if post.map && post.map.latitude && post.map.longitude %>
      new google.maps.Marker({
        position: {lat: <%= post.map.latitude %>, lng: <%= post.map.longitude %>},
        map: map,
      });
    <% end %>
    <% end %>
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT-xYvfAMAJMsmbstonEH8t0tQhtIh7iY&callback=initMap&callback=initMap" async defer></script>



