<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: tagsearches_search_path, local: true,method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "タグ検索" %>
    <% end %>
  </div>
  <div>
    <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date, value: params[:start_date] %>
    <%= f.label :end_date, "終了日" %>
    <%= f.date_field :end_date, value: params[:end_date] %>
    <%= f.submit "絞り込み" %>
    <% end %>
  </div>
  <div>
    <%= form_with url: posts_path, method: :get, local: true do %>
    <%= label_tag :star, "最低評価" %>
    <%= select_tag :star, options_for_select((1..5).map { |r| [pluralize(r, 'star'), r] }, params[:star]), include_blank: true %>
    <%= submit_tag "絞り込み" %>
    <% end %>
  </div>
<% end %>

<% @posts.each do |posts| %>
  <div>
    <%= link_to post_path(posts.id) do %>
      <%= image_tag posts.get_image.variant(resize: "300x300") %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag posts.user.get_profile_image(100,100) %></p>
    <p>説明：<%= posts.sentence %></p>
    <p>ユーザーネーム：<%= posts.user.name %></p>
    <p>Category：<%= posts.category %></p>
    <p><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %></p>

    <div id="show-star<%= posts.id %>"></div>
    <script>
    　$("#show-star<%= posts.id %>").empty();
    　var element = document.querySelector("#show-star<%= posts.id %>");
    　var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        size: 10,
        score: "<%= posts.star %>"
      };
      window.raty(element, opt);
    </script>
  </div>
<% end %>
  <div id="map"></div>
  <style>
    #map {
    height: 600px;
    width: 600px;
    }
  </style>

<script>
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: 34.9851603, lng: 135.7584294 },
      zoom: 10
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
    <% if post.map && post.map.latitude && post.map.longitude %>
      new google.maps.Marker({
        position: {lat: <%= post.map.latitude %>, lng: <%= post.map.longitude %>},
        map: map,
      });
    <% end %>
    <% end %>
  }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap&callback=initMap" async defer></script>



