<h1>画像投稿フォーム</h1>
<%= form_with model: @post do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>説明</h4>
  <%= f.text_area :sentence %>
  <%= f.submit '投稿' %>
  <div class="form-group">
    <label>Category</label>
    <%= f.text_field :category,class: 'form-control post_category' %>
  </div>

  <div class="form-group row">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%#= f.hidden_field :star, id: :review_star %>
    <div id="create_star"></div>
　</div>
  <script>
　$('#create_star').empty();
　let starElem = document.querySelector("#create_star");
　let option = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "post[star]",
    half: true,
  };
  raty(starElem, option);
  </script>
<% end %>

<h2>gmap</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT-xYvfAMAJMsmbstonEH8t0tQhtIh7iY&callback=initMap" async defer></script>
