<!DOCTYPE html>
<html>
  <head>
    <title>SouplessRamenApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
      <a class="navbar-brand" href="/">SouplessRamenApps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
      <%=  link_to posts_path ,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-book-open"></i> Posts
      <% end %>
      </li>
      <li>
      <%=  link_to user_path(current_user.id) ,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-book-open"></i> My page
      <% end %>
      </li>
      <li>
      <%= link_to destroy_user_session_path ,method: :delete, class: 'nav-link text-light' do %>
        <i class="fa-solid fa-right-from-bracket"></i> Log out
      <% end %>
      </li>
      <li>
      <%=  link_to new_post_path ,class: 'nav-link text-light', 'data-turbolinks': false do %>
        <i class="fa-solid fa-book-open"></i> New Post
      <% end %>
    <% else %>
      <li>
      <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-user-plus"></i> Sign up
      <% end %>
      </li>
      <li>
      <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-right-to-bracket"></i> Log in
      <% end %>
      </li>
      <li>
      <%= link_to users_guest_sign_in_path,method: :post, class: 'nav-link text-light' do %>
        <i class="fa-solid fa-right-to-bracket"></i> Guest Log in
      <% end %>
      </li>
    <% end %>
  </header>

  <% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: tagsearches_search_path, local: true,method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "タグ検索" %>
    <% end %>
  </div>
  <div>
    <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <%= f.label :start_date, "開始日" %>
    <%= f.date_field :start_date, value: params[:start_date] %>
    <%= f.label :end_date, "終了日" %>
    <%= f.date_field :end_date, value: params[:end_date] %>
    <%= f.submit "絞り込み" %>
    <% end %>
  </div>
  <div>
    <%= form_with url: posts_path, method: :get, local: true do %>
    <%= label_tag :star, "最低評価" %>
    <%= select_tag :star, options_for_select((1..5).map { |r| [pluralize(r, 'star'), r] }, params[:star]), include_blank: true %>
    <%= submit_tag "絞り込み" %>
    <% end %>
  </div>
  <% end %>
    <%= yield %>
  </body>
</html>
